@use './variable' as *;

@mixin button {
  padding: 10px 20px;
  border: none;
  border-radius: $border-radius;
  font-weight: 600;
  font-family: $font-main;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s;

  &:active {
    transform: scale(0.97);
  }
}
