<header class="app-header">
    <div class="logo"></div>
  
    <nav class="nav-links">
      <!-- <a routerLink="/" routerLinkActive="active">Головна</a> -->
      <a routerLink="/stream" routerLinkActive="active">Трансляція</a>
      <a routerLink="/archive" routerLinkActive="active">Архів</a>
      <a routerLink="/notifications" routerLinkActive="active">Сповіщення</a>
      <a routerLink="/settings" routerLinkActive="active">Налаштування</a>
    </nav>
  
    <button class="theme-toggle" (click)="toggleTheme()">
      🌓
    </button>
  </header>
  