<div class="stream-wrapper">
  <h2>Live Стрім</h2>

  <div class="content-layout">
    <div class="left-side">
      {{ isStreaming ? 'трансляція увімкнена' : 'трансляція вимкнена' }}

      <div class="video-container" *ngIf="isStreaming">
        <!-- <img [src]="streamUrl" alt="Live stream" /> -->
        <img
        #streamImage
        [src]="streamUrl"
        (load)="onImageLoaded()"
        alt="Live stream"
      />
      
        <canvas #canvas hidden></canvas>

        <!-- <video src="assets/images/4444928-hd_1920_1080_30fps.mp4" controls autoplay muted playsinline></video> -->
      </div>

      <div class="controls">
        <!-- <button class="btn">🔴 Почати запис</button> -->
        <button 
        class="button" 
        [disabled]="!isStreaming"
        [ngClass]="{ 'primary': isRecording, 'secondary': !isRecording }"
        (click)="toggleRecording()">
        {{ isRecording ? '⏹️ Зупинити запис' : '🔴 Почати запис' }}
        </button>


        <button class="button" (click)="toggleMotionDetection()"
          [ngClass]="{ 'primary': isMotionEnabled, 'secondary': !isMotionEnabled }">
          {{ isMotionEnabled ? '🛑 Вимкнути детекцію руху' : '👀 Увімкнути детекцію руху' }}
        </button>

        <!-- <button class="button secondary">🔇 Вимкнути звук</button> -->
        <button class="button" [ngClass]="{ 'primary': isMuted, 'secondary': !isMuted }" (click)="toggleMute()">
          {{ isMuted ? '🔊 Увімкнути звук' : '🔇 Вимкнути звук' }}
        </button>
        <button class="button" (click)="toggleStream()">
          {{ isStreaming ? '⏹️ Зупинити трансляцію' : '📡 Почати трансляцію' }}
        </button>
        <button class="button secondary">⬇️ Завантажити відео</button>
      </div>
    </div>

    <div class="right-side">
      <div class="archive">
        <h3>Архів Записів</h3>
        <ul>
          <li *ngFor="let rec of recordings">
            {{ rec.timestamp }}
            <a [href]="rec.url" download="{{ rec.filename }}">
              <button class="btn small">⬇️</button>
            </a>
            <button class="btn small" (click)="playRecording(rec.url)">▶️</button>
          </li>
          <!-- <li>
            23.02.2025 14:30
            <button class="btn small">▶️</button>
          </li>
          <li>
            23.02.2025 14:30
            <button class="btn small">▶️</button>
          </li>
          <li>
            23.02.2025 14:30
            <button class="btn small">▶️</button>
          </li> -->
        </ul>
      </div>

      <div class="notifications">
        <h3>Сповіщення</h3>
        <div class="alert">
          ⚠️ Рух виявлено <br />
          <small>ID: 1 – 28.02.2025 10:21</small>
        </div>
        <div class="alert">
          ⚠️ Рух виявлено <br />
          <small>ID: 2 – 28.02.2025 10:22</small>
        </div>
      </div>
    </div>
  </div>
</div>